<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NCS</title>
    <link rel="icon" type="image/png" href="/static/image/logo.png"/>
    <link rel="stylesheet" href="/static/home.css"/>
</head>
<body>
    <div class="header">
        <div class="header__logo ">
            <img src="/static/image/logo.png" alt="#">
            <br>
             <h3>Computer Solution</h3>
        </div>
    </div>   
    <div class="registration-form">
        <p> Will contact on mobile number or email within 2 hours</p><br>
        <P> Thank you for visiting our page</P>
    </div>
</body>
</html>