<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCS</title>
    <link rel="icon" type="image/png" href="/static/image/logo.png"/>
    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
    <div class="header">
        <h3>Computer Solution</h3>
        <div class="header__logo ">            
            <img src="/static/image/logo.png" alt="#">
        </div>
    </div>
    <div class="registration-form">
        <form method="POST" accept="of">
            <br>
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <br>
            <label for="enter_email">Enter Email:</label>
            <input type="text" name="enter_email" required>
            <br>
            <label for="mobile_number">Mobile Number:</label>
            <input type="number" name="mobile_number" required>
            <br>
            <label for="describe_your_website">Describe your website:</label>

            <div class="describe_the_website">
                <input type="text" name="describe_your_website" required>
            </div>
            <br>
            <button type="submit">submit</button>
        </form>
    </dive>
</body>
</html>
